.container {
    width: 80%;
    height: auto;
    background-color: rgb(238, 235, 235);
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}
.header {
    text-align: center;
}
.content {
    margin-left: 12%;
}
.badge {
    border-radius: 15px;
    padding:3px 10px;
    margin: 0 5px;
    text-align: center;
}
.badge-success {
    border: 1px solid lightgreen;
    background-color: lightgreen;
}
